/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(224, 17, 121);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg");
    background-repeat: 

}